.big-button {
    width: 100%;
    height: 3em;
}

.separator {
    align-self: center;
    width: 5px;
    height: 90%;
    background: rgba(0, 0, 0, 0.1);
}

.action-container {
    width: 23em;
}

.appeal-issue-card-image {
    width: 20em;
    height: 12em;
    object-fit: cover;
}

.appeal-issue-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}