.search {
    width: 17em;
}
  
.appeal-content {
    margin-right: 4%;
}

.appeal-img {
    width: 2.5em;
    height: 2.5em;
}

.card-img-top {
    object-fit: cover;
    height: 7.5vw;
    width: 100%;
}

.card-body {
    padding-bottom: 1em;
}